.helper-inputs-container {
  background-color: #303030;
  padding: 15px;
}

.helper-input {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.summary {
  background-color: #303030;
  padding: 25px;
  padding-top: 50px;
}

.summary div {
  background-color: black;
  border-radius: 15px;
  padding: 25px;
  font-size: 1.5em;
  color: white;
}

button.download {
  display: block;
  max-width: 500px;
  font-size: 1em;
  margin: 25px auto;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: all 500ms;
}

button.download:hover {
  cursor: pointer;
  color: black;
  background-color: lightgray;
}
